# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# ignoring node and node_modules. its because the app will download the dependency
src/main/resources/public/node/
src/main/resources/public/node_modules/
target/


# ignoring bower_components. its because the app will download the bower dependency
src/main/resources/public/bower_components/



# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
